*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    max-width:300px;
    background-color: purple;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

input{
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    outline: none;
}

#buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button{
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2{
    text-align: center;
    color: white;
    margin-top: 20px;
}

p{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

